<body>

  <div class="container">

    <div class="brand">
      <span>BanEcuador</span>
    </div>

    <h1 class="title">
      Tipo de Crédito
    </h1>

    <div class="credit-grid">

      <a
        class="credit-card"
        (click)="tipoDeCredito(0)"
      >

        <div class="image-container">

          <img src="https://www.image2url.com/r2/default/images/1790379337795-be781cab-a1d5-4986-b31d-38008081e0dd.png"
            alt="Microcrédito">

        </div>

        <h2 class="credit-title">
          Microcrédito
        </h2>

        <p class="credit-description">
          Préstamo de dinero a pequeños negocios o emprendedores.
        </p>

        <span class="card-footer-btn">
          Seleccionar →
        </span>

      </a>

      <a
        class="credit-card"
        (click)="tipoDeCredito(1)"
      >

        <div class="image-container">

          <img
            src="https://www.image2url.com/r2/default/images/1790379658706-dd536fbb-e9cf-47b7-8d17-0c5bf49b0c1b.png"
            alt="Consumo"
          >

        </div>

        <h2 class="credit-title">
          Consumo
        </h2>

        <p class="credit-description">
          Préstamo de dinero para comprar bienes, pagar servicios o cubrir gastos personales.
        </p>

        <span class="card-footer-btn">
          Seleccionar →
        </span>

      </a>

      <a
        class="credit-card"
        (click)="tipoDeCredito(2)"
      >

        <div class="image-container">

          <img
            src="https://www.image2url.com/r2/default/images/1790379699897-8660ee20-aa6e-44ba-bc4d-b1b1e192503d.png"
            alt="PYME"
          >

        </div>

        <h2 class="credit-title">
          PYME
        </h2>

        <p class="credit-description">
          Préstamo de dinero a pequeñas y medianas empresas.
        </p>

        <span class="card-footer-btn">
          Seleccionar →
        </span>

      </a>

    </div>

    <div class="credito-footer">

      <button
        type="button"
        class="btn-back"
        (click)="volverInicio()"
      >
        ←Volver al Inicio
      </button>

    </div>

    @if (errorMessage) {

      <p class="error-message">
        {{ errorMessage }}
      </p>

    }

    @if (isLoading) {

      <div class="loading-overlay">

        <div class="loading-spinner"></div>

      </div>

    }

  </div>

</body>